<h2>Here is the information for one product</h2>
<a href="/products">what the user sees</a>

<h3>name: <%= @product.name%></h3>
  <p>name: <%= @product.name %></p>
  <p>price <%= @product.price %></p>
  <p>description <%= @product.description %></p>
  <p>image: <%= @product.image %></p>
  <img src"<%= @product.image %>">
  <hr>

  <!-- delete action goes here --!> 
